  .homepage-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.furniture-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.furniture-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.furniture-container .furniture-overlay {
    opacity: 1;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 44px;
    height: 150px;
    padding-top: 40px;
    z-index: 1;
    opacity: 0.6;
}

#arrow{
    width: 100px;
    height: 40px;
    margin: 18px;
}