a{
    color:black;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 26.44px;
}

.card {
    position: relative;
    display: flex;
    justify-content: center;
}

.card::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc; 
}

.card a.active-link {
    color: red; 
}

.p-tabmenu-nav {
    justify-content: center;
}

.p-tabmenu .p-tabmenu-nav{
    border: none;
}

#cartIcon{
    /* position: absolute;
    left: 5px;
    top: 30px; */
    margin: 7px;
}